
<h1>Artists</h1>

<% @artists.each do |artist| %>
  <li>
    <%= link_to artist.name, artist_path(artist.id) %>

      <% artist.photos.each do |photo| %>
      <hr />
      <%= image_tag photo.image.thumbnail %>
      <% end %>
  </li>
<% end %>
